version: 2
updates:
  - package-ecosystem: "uv"
    directory: "/api"
    schedule:
      interval: "monthly"
    groups:
      back-end:
        update-types:
          - "minor"
          - "patch"

  - package-ecosystem: "npm"
    directory: "/web/"
    schedule:
      interval: "monthly"
    groups:
      front-end:
        update-types:
          - "minor"
          - "patch"

  - package-ecosystem: "github-actions"
    directory: ".github/workflows"
    schedule:
      interval: "monthly"

  - package-ecosystem: "docker"
    directories:
      - "/web"
      - "/api"
      - "/nginx"
    schedule:
      interval: "monthly"
    groups:
      dockerfile:
        update-types:
          - "minor"
          - "patch"
