__pycache__/
build/
.env
.venv
/id_ed25519
/id_ed25519.pub
/web/node_modules/
.yarn-integrity

# Yarn 2
web/.yarn/*
!web/.yarn/cache
!web/.yarn/patches
!web/.yarn/plugins
!web/.yarn/releases
!web/.yarn/sdks
!web/.yarn/versions

# Other
.idea
.mypy_cache