repos:
  - repo: local
    hooks:
      - id: generate-api-client
        name: "Generate: API TypeScript types"
        entry: ./web/src/api/generate-api-pre-commit.sh
        language: system
        pass_filenames: false

  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v4.2.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        name: "Validate: Commit is conventional"
        args:
          [
            build,
            chore,
            ci,
            docs,
            feat,
            fix,
            perf,
            refactor,
            revert,
            style,
            test,
            _fix,
            _feat,
          ]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-ast
        name: "Validate: parse .py files"
        language_version: python3.10
      - id: check-json
        name: "Validate: parse .json files"
      - id: check-yaml
        name: "Validate: parse .yaml files"
      - id: check-toml
        name: "Validate: parse .toml files"
      - id: check-merge-conflict
        name: "Validate: no merge conflict strings"
      - id: check-case-conflict
        name: "Validate: no case conflicting file names"
      - id: trailing-whitespace
        name: "Lint: remove trailing whitespaces"
        exclude: ^(.*\.(lock)$|docs/|web/src/api/generated/)
      - id: end-of-file-fixer
        name: "Lint: end all files with single empty line"
        exclude: ^(.*\.(lock)$|docs/|web/src/api/generated/)
      - id: mixed-line-ending
        exclude: ^(.*\.(lock)$|docs/|web/src/api/generated/)
      - id: detect-private-key
        exclude: api/tests/integration/conftest.py
        exclude_types:
          - markdown

  - repo: https://github.com/biomejs/pre-commit
    rev: v2.3.14
    hooks:
      - id: biome-check
        name: "Lint: biome (js/ts)"

  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: "v0.15.0"
    hooks:
      - id: ruff
        name: "Lint: ruff (python)"
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format
        name: "Lint: ruff-format (python)"
