repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-ast
        language_version: python3.10
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: check-json
      - id: check-toml
      - id: check-yaml
      - id: trailing-whitespace
        exclude: ^.*\.(lock)$||^docs\/
      - id: mixed-line-ending
        exclude: ^.*\.(lock)$||^docs\/
      - id: detect-private-key
        exclude: api/src/tests/integration/mock_token_generator.py
        exclude_types:
          - markdown

  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v2.4.0
    hooks:
      - id: conventional-pre-commit
        always_run: true

  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: "v0.2.1"
    hooks:
      - id: ruff-format
        name: Code formatting
        files: ^api/src/.*\.py$

      - id: ruff
        name: Code linting
        files: ^api/src/.*\.py$
        args:
          - --fix
          - --unsafe-fixes

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: "v1.7.0"
    hooks:
      - id: mypy
        args: [--config-file=./api/pyproject.toml]
        additional_dependencies:
          - types-cachetools == 5.2.0
          - types-requests == 2.27.30
          - types-ujson == 5.3.0
