services:
  nginx:
    restart: unless-stopped
    build: ./nginx
    ports:
      - "80:8080"
    links:
      - web
      - api

  api:
    image: ghcr.io/equinor/mercury-api
    restart: unless-stopped
    build:
      context: api
      cache_from:
        - ghcr.io/equinor/mercury-api:latest
      secrets:
        - libhg-repo-deploy-key

  web:
    build: ./web
    image: ghcr.io/equinor/mercury-web
    restart: unless-stopped

secrets:
  libhg-repo-deploy-key:
    environment: "LIBHG_REPO_DEPLOY_KEY"
