apiVersion: radix.equinor.com/v1
kind: RadixApplication
metadata:
  name: mercury
spec:
  environments:
    - name: prod
    - name: dev
      build:
        from: main
  components:
    - name: api
      image: ghcr.io/equinor/mercury-api:{imageTagName}
      alwaysPullImageOnDeploy: true
      environmentConfig:
        - environment: prod
          imageTagName: latest
          monitoring: true
          variables:
            ENVIRONMENT: production
            LOGGING_LEVEL: "info"
        - environment: dev
          monitoring: true
          imageTagName: latest
          variables:
            ENVIRONMENT: development
            LOGGING_LEVEL: "info"
      variables:
        AZURE_CLIENT_ID: 0cd10735-a40c-4ff6-84c8-74e3b54ed93f
        AZURE_TENANT_ID: 3aa4a235-b6e2-48d5-9195-7fcf05b459b0
        AUTH_ENABLED: "True"
        OAUTH_AUDIENCE: 0cd10735-a40c-4ff6-84c8-74e3b54ed93f
        OAUTH_AUTH_SCOPE: api://0cd10735-a40c-4ff6-84c8-74e3b54ed93f/api
        OAUTH_AUTH_ENDPOINT: https://login.microsoftonline.com/3aa4a235-b6e2-48d5-9195-7fcf05b459b0/oauth2/v2.0/authorize
        OAUTH_TOKEN_ENDPOINT: https://login.microsoftonline.com/3aa4a235-b6e2-48d5-9195-7fcf05b459b0/oauth2/v2.0/token
        OAUTH_WELL_KNOWN: https://login.microsoftonline.com/3aa4a235-b6e2-48d5-9195-7fcf05b459b0/v2.0/.well-known/openid-configuration
      secrets:
        - APPLICATIONINSIGHTS_CONNECTION_STRING
      ports:
        - name: rest
          port: 5000
      publicPort: rest

    - name: proxy
      image: ghcr.io/equinor/mercury-nginx:{imageTagName}
      alwaysPullImageOnDeploy: true
      environmentConfig:
        - environment: prod
          imageTagName: latest
        - environment: dev
          imageTagName: latest
      ports:
        - name: nginx
          port: 8080
      publicPort: nginx

  privateImageHubs:
    ghcr.io:
      username: mariuswinger
      email: 89073985+mariuswinger@users.noreply.github.com

  dnsAppAlias:
    environment: prod
    component: proxy
