name: "Deploy image to radix"
on:
  workflow_dispatch:
    inputs:
      radix-environment:
        description: "Which radix environment to deploy into"
        default: "test"
        required: true
        type: string
      image-tag:
        description: "Which image tag to deploy."
        required: true
        type: string
  workflow_call:
    inputs:
      radix-environment:
        description: "Which radix environment to deploy into"
        default: "test"
        required: true
        type: string
      image-tag:
        description: "Which image tag to deploy."
        required: true
        type: string

permissions:
  contents: read
  id-token: write

env:
  RADIX_APP: mercury
  AZURE_CLIENT_ID: 0cd10735-a40c-4ff6-84c8-74e3b54ed93f

jobs:
  deploy-on-radix:
    runs-on: ubuntu-latest
    steps:
      - name: "Setup: check out repository"
        uses: actions/checkout@v6

      - name: "Setup: radix CLI (RX)"
        uses: equinor/radix-github-actions@v2
        with:
          azure_client_id: ${{ env.AZURE_CLIENT_ID }}

      - name: "Run: deploy to Radix"
        run: >
          rx create pipeline-job deploy
          --application ${{ env.RADIX_APP }}
          --environment ${{ inputs.radix-environment }}
          --follow
          --from-config
          --image-tag-name api=${{ inputs.image-tag }}
          --image-tag-name proxy=${{ inputs.image-tag }}
