name: "On Pull Request"
on:
  pull_request:

jobs:
  tests:
    permissions:
      contents: read
      packages: read
    uses: ./.github/workflows/tests.yaml
    secrets:
      LIBHG_REPO_DEPLOY_KEY: ${{ secrets.LIBHG_REPO_DEPLOY_KEY }}
