name: "Push to main branch"
on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  tests:
    permissions:
      contents: read
      packages: read
    uses: ./.github/workflows/tests.yaml
    secrets:
      LIBHG_REPO_DEPLOY_KEY: ${{ secrets.LIBHG_REPO_DEPLOY_KEY }}

  publish-latest-image:
    needs: tests
    permissions:
      contents: read
      packages: write
    uses: ./.github/workflows/publish.yaml
    with:
      image-tags: latest
      oauth-redirect-url: https://proxy-mercury-dev.radix.equinor.com
      app_insight_con_string: ${{ vars.APP_INSIGHT_CON_STRING_DEV }}
    secrets:
      LIBHG_REPO_DEPLOY_KEY: ${{ secrets.LIBHG_REPO_DEPLOY_KEY }}

  deploy-dev:
    needs: publish-latest-image
    uses: ./.github/workflows/deploy.yaml
    with:
      radix-environment: "dev"

  release-please:
    runs-on: ubuntu-latest
    needs: tests
    steps:
      - uses: google-github-actions/release-please-action@v3
        id: release
        with:
          config-file: .github/release-please-config.json
          manifest-file: .github/release-please-manifest.json
    outputs:
      releases_created: ${{ steps.release.outputs.releases_created }}
      tag_name: ${{ steps.release.outputs.tag_name }}

  publish-release-image:
    needs: release-please
    if: ${{ needs.release-please.outputs.releases_created }}
    permissions:
      contents: read
      packages: write
    uses: ./.github/workflows/publish.yaml
    with:
      image-tags: ${{ steps.release.outputs.tag_name }}
      oauth-redirect-url: https://mercury.app.radix.equinor.com
      app_insight_con_string: ${{ vars.APP_INSIGHT_CON_STRING_PROD }}
    secrets:
      LIBHG_REPO_DEPLOY_KEY: ${{ secrets.LIBHG_REPO_DEPLOY_KEY }}

  deploy-prod:
    needs: publish-production-image
    uses: ./.github/workflows/deploy.yaml
    with:
      radix-environment: "prod"
