name: "Push to main branch"
on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  linting-and-checks:
    permissions:
      contents: read
    uses: ./.github/workflows/linting-and-checks.yaml

  tests:
    permissions:
      contents: read
      packages: read
    uses: ./.github/workflows/tests.yaml
    secrets:
      LIBHG_PAT: ${{ secrets.LIBHG_PAT }}

  publish-latest-image:
    needs: [linting-and-checks, tests]
    permissions:
      contents: read
      packages: write
    uses: ./.github/workflows/publish.yaml
    with:
      image-tags: latest
      applicationinsights-connection-string: ${{ vars.APP_INSIGHT_CON_STRING_DEV }}
    secrets:
      LIBHG_PAT: ${{ secrets.LIBHG_PAT }}

  deploy-dev:
    needs: publish-latest-image
    permissions:
      contents: read
      id-token: write
    uses: ./.github/workflows/deploy.yaml
    with:
      image-tag: "latest"
      radix-environment: "dev"

  release-please:
    runs-on: ubuntu-latest
    needs: tests
    permissions:
      contents: read
      issues: write
      pull-requests: write
    steps:
      - uses: googleapis/release-please-action@v4
        id: release
        with:
          token: ${{ secrets.RELEASE_PLEASE_PAT }}
          config-file: .github/release-please-config.json
          manifest-file: .github/release-please-manifest.json
    outputs:
      release_created: ${{ steps.release.outputs.release_created }}
      tag_name: ${{ steps.release.outputs.tag_name }}

  release:
    needs: release-please
    if: ${{ needs.release-please.outputs.release_created }}
    permissions:
      contents: read
      packages: write
      id-token: write
    uses: ./.github/workflows/on-release.yaml
    with:
      release-tag: ${{ needs.release-please.outputs.tag_name }}
    secrets:
      LIBHG_PAT: ${{ secrets.LIBHG_PAT }}
