name: "On Pull Request"
on:
  pull_request:

jobs:
  linting-and-checks:
    permissions:
      contents: read
    uses: ./.github/workflows/linting-and-checks.yaml

  tests:
    permissions:
      contents: read
      packages: read
    uses: ./.github/workflows/tests.yaml
    secrets:
      LIBHG_PAT: ${{ secrets.LIBHG_PAT }}
