name: "Publish container images"
on:
  workflow_dispatch:
  workflow_call:
    inputs:
      image-tags:
        description: "Which tag to give the images. Supports multiple tags if comma separated, ie 'tag1,tag2'"
        required: true
        type: string
      applicationinsights-connection-string:
        description: "Connection string for Application Insights"
        type: string
        required: true
    secrets:
      LIBHG_PAT:
        description: "PAT for accessing libhg repository"
        required: true

permissions:
  contents: read
  packages: write

env:
  IMAGE_REGISTRY: ghcr.io
  AZURE_CLIENT_ID: 0cd10735-a40c-4ff6-84c8-74e3b54ed93f
  AZURE_TENANT_ID: 3aa4a235-b6e2-48d5-9195-7fcf05b459b0
  OAUTH_AUTH_SCOPE: api://0cd10735-a40c-4ff6-84c8-74e3b54ed93f/All
  NGINX_IMAGE: ghcr.io/equinor/mercury-nginx
  API_IMAGE: ghcr.io/equinor/mercury-api
  LIBHG_VERSION: v1.0.0

jobs:
  build-and-publish-nginx:
    runs-on: ubuntu-latest
    steps:
      - name: "Setup: check out repository"
        uses: actions/checkout@v6

      - name: "Setup: login to image registry"
        run: echo ${{ secrets.GITHUB_TOKEN }} | docker login $IMAGE_REGISTRY -u $GITHUB_ACTOR --password-stdin

      - name: "Setup: get version info"
        id: version
        run: |
          echo "hash=$(git log -n 1 --format=format:'%h')" >> $GITHUB_OUTPUT
          echo "date=$(git log -n 1 --format=format:'%cs')" >> $GITHUB_OUTPUT
          VERSION=$(git describe --tags --exact-match 2>/dev/null || echo "")
          echo "version=$VERSION" >> $GITHUB_OUTPUT

      - name: "Setup: show version info"
        run: echo "Hash=${{ steps.version.outputs.hash }}, Date=${{ steps.version.outputs.date }}, Refs=${{ steps.version.outputs.version }}"

      - name: "Setup: build nginx image"
        run: |
          docker pull $NGINX_IMAGE || echo "No NGINX image found"
          echo "Building nginx image with tag: ${{ inputs.image-tags }}"
          printf "hash: ${{ steps.version.outputs.hash }}\ndate: ${{ steps.version.outputs.date }}\nrefs: ${{ steps.version.outputs.version }}" > ./web/public/version.txt
          DOCKER_BUILDKIT=1 docker build \
            --cache-from ${NGINX_IMAGE}:latest \
            --target nginx-prod \
            --build-arg BUILDKIT_INLINE_CACHE=1 \
            --build-arg AUTH_ENABLED=1 \
            --build-arg AZURE_CLIENT_ID=$AZURE_CLIENT_ID \
            --build-arg AZURE_TENANT_ID=$AZURE_TENANT_ID \
            --build-arg OAUTH_AUTH_SCOPE=$OAUTH_AUTH_SCOPE \
            --build-arg APPLICATIONINSIGHTS_CONNECTION_STRING="${{ inputs.applicationinsights-connection-string }}" \
            --tag $NGINX_IMAGE:latest \
            ./web

      - name: "Run: publish nginx"
        run: |
          IFS=','
          for IMAGE_TAG in $(echo ${{ inputs.image-tags }})
          do
            echo "Tagging with $IMAGE_TAG"
            docker tag $NGINX_IMAGE:latest $NGINX_IMAGE:$IMAGE_TAG
            docker push $NGINX_IMAGE:$IMAGE_TAG
          done

  build-and-publish-api:
    runs-on: ubuntu-latest
    steps:
      - name: "Setup: check out repository"
        uses: actions/checkout@v6
        with:
          fetch-depth: 2

      - name: "Setup: login to image registry"
        run: echo ${{ secrets.GITHUB_TOKEN }} | docker login $IMAGE_REGISTRY -u $GITHUB_ACTOR --password-stdin

      - name: "Setup: get version info"
        id: version
        run: |
          echo "hash=$(git log -n 1 --format=format:'%h')" >> $GITHUB_OUTPUT
          echo "date=$(git log -n 1 --format=format:'%cs')" >> $GITHUB_OUTPUT
          VERSION=$(git describe --tags --exact-match 2>/dev/null || echo "")
          echo "version=$VERSION" >> $GITHUB_OUTPUT

      - name: "Setup: show version info"
        run: echo "Hash=${{ steps.version.outputs.hash }}, Date=${{ steps.version.outputs.date }}, Refs=${{ steps.version.outputs.version }}"

      - name: "Setup: build API"
        env:
          LIBHG_PAT: ${{ secrets.LIBHG_PAT }}
        run: |
          docker pull $API_IMAGE || echo "No API image found"
          printf "hash: ${{ steps.version.outputs.hash }}\ndate: ${{ steps.version.outputs.date }}\nrefs: ${{ steps.version.outputs.version }}" > ./api/src/version.txt
          DOCKER_BUILDKIT=1 docker build \
            --cache-from $API_IMAGE:latest \
            --target prod \
            --build-arg LIBHG_VERSION=$LIBHG_VERSION \
            --secret id=libhg-pat,env=LIBHG_PAT \
            --build-arg BUILDKIT_INLINE_CACHE=1 \
            --tag $API_IMAGE:latest \
            ./api

      - name: "Run: publish API"
        run: |
          IFS=','
          for IMAGE_TAG in $(echo ${{ inputs.image-tags }})
          do
            echo "Tagging with $IMAGE_TAG"
            docker tag $API_IMAGE:latest $API_IMAGE:$IMAGE_TAG
            docker push $API_IMAGE:$IMAGE_TAG
          done
