name: "Tests"
on:
  # Workflow dispatch is used for manual triggers
  workflow_dispatch:
  # Workflow call is used for called from another workflow
  workflow_call:
    secrets:
      LIBHG_REPO_DEPLOY_KEY:
        description: "Deploy key for cloning libhg repository"
        required: true

permissions:
  contents: read
  packages: read

env:
  IMAGE_REGISTRY: ghcr.io
  API_IMAGE: ghcr.io/equinor/mercury-api

jobs:
  test-api:
    runs-on: ubuntu-latest
    name: "Tests: API"
    steps:
      - name: "Setup: Checkout repository"
        uses: actions/checkout@v6

      - name: "Setup: Login to image registry"
        run: echo ${{ secrets.GITHUB_TOKEN }} | docker login $IMAGE_REGISTRY -u $GITHUB_ACTOR --password-stdin

      - name: "Setup: Build API test image"
        env:
          LIBHG_REPO_DEPLOY_KEY: ${{ secrets.LIBHG_REPO_DEPLOY_KEY }}
        run: |
          docker pull $API_IMAGE
          DOCKER_BUILDKIT=1 docker build \
          --cache-from $API_IMAGE \
          --target development \
          --secret id=libhg-repo-deploy-key,env=LIBHG_REPO_DEPLOY_KEY \
          --tag mercury-api-ci \
          ./api

      - name: "Run: Unit tests with python"
        run: docker compose -f compose.yml -f compose.ci.yml run --rm api pytest --unit

      - name: "Run: Integration tests with python"
        run: docker compose -f compose.yml -f compose.ci.yml run --rm api pytest --integration

  test-web:
    runs-on: ubuntu-latest
    name: "Tests: Web"
    steps:
      - name: "Setup: Checkout repository"
        uses: actions/checkout@v6
        with:
          sparse-checkout: web

      - name: "Setup: Install node"
        uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: yarn
          cache-dependency-path: web/yarn.lock

      - name: "Setup: Install node dependencies"
        run: yarn install --frozen-lockfile
        working-directory: web

      - name: "Run: Tests with yarn"
        run: yarn test
        working-directory: web
